.branch-content {
  p {
    margin-bottom: 10px;
    color: #6a6a6a;
  }

  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #6a6a6a;
    margin: 10px 0;
  }
  .title{

  }
}
.branch-manage-title{
  display:flex;
  justify-content:space-between;
  align-items:center
}
