html {
    background-color: rgba(103,58,183,.1);
    color: white;
}

body {
    margin: 0;
    color: black;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}


#app {
    height: 100vh;
    text-align: center;
}

.ant-dropdown-menu{
    max-height: 60vh;
    overflow-y: auto;
}
.branch{
    cursor: pointer;
}

.active-history-card-head .ant-badge-status-text{
  color: #fff!important;
}

.active-history-card-head .ant-space-item span{
  color: #fff!important;
  opacity: 1!important;
}