.status-file-list {
  padding: 12px;
  display: flex;
  flex-direction: column;

  .file {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 6px 0;

    label>span {
      &:last-child {
        width: 100%;
      }
    }
    .file-name {
      width: 100%;
      display: block;
      flex: 1;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      overflow: hidden;
      max-width: 220px;
      text-overflow: ellipsis;
      white-space: nowrap;
      //opacity: 0.45;
      font-size: 13px;
      cursor: pointer;
    }


    &:hover .file-name {
      opacity: 1;
    }

    .dot {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      border-radius: 50%;
      color: #fff;
      width: 18px;
      height: 18px;
      margin: 0 2px;
      background: #eee;
    }
  }
}
